/* ==================================================
   HEADER
   ================================================== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  pointer-events: auto;
}

/* ==================================================
   LEFT
   ================================================== */

.header__logo {
  font-size: 32px;
}

/* ==================================================
   CENTER
   ================================================== */

.header__center {
  display: flex;
  gap: 48px;
}

/* ==================================================
   RIGHT
   ================================================== */

.header__right {
  width: 200px;

  display: flex;
  justify-content: flex-end;
}