/* ==================================================
   LEFT COLUMN
   ================================================== */

.overlay__left {
  display: flex;
  flex-direction: column;

  gap: 48px;
}

/* ==================================================
   DESCRIPTION
   ================================================== */

.content-primary {
  max-width: 260px;
}

/* ==================================================
   SCROLL INDICATOR
   ================================================== */

.scroll-indicator {
  width: fit-content;
}

/* ==================================================
   RIGHT COLUMN
   ================================================== */

.overlay__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: 24px;
}

/* ==================================================
   META
   ================================================== */
